.comment-card {
  display: block;
}

.comment-card.reply {
  position: relative;
  padding-left: 2.5rem;
}

.reply-line {
  position: absolute;
  left: 19px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e2e8f0;
}

:host-context(.dark) .reply-line {
  background-color: #334155;
}
